h1 {
	text-align: center;
}

form {
	margin: 0 auto;
	width: 50%;
}

label {
	display: inline-block;
	width: 150px;
	text-align: right;
}

select {
	width: 200px;
}

input[type="submit"] {
	margin-left: 150px;
}
